# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
backend/campustrade_local.db
backend/.env

# Node/React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# VSCode
.vscode/
